/* Conteneur du logo */
.logo-container {
    display: flex;
    align-items: center;
    height: 54%; /* Assure que le conteneur s'aligne sur la hauteur du header */
  }
  
  /* Logo agrandi */
  .logo {
    height: 50px; /* Ajustez la taille */
    transform: translateY(-10px); /* Permet d'agrandir sans "déformer" */
  }